.app-main{
    display: flex;
}
.app-left{
    width:2vw;
    height: auto;
    background-color: black;
}
.app-right{
   
    width: 2vw;
    height: auto;
    background-color: black;
}
.app-components{
    flex: 12
}